<div class="container container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <!--User info-->
      <%= render 'users/userInfo', user: @user %>
      <div class="row">
    	  <%= link_to '',edit_user_path(@user), class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_path(@user) " %>
  　   </div>
      <!--Create a book-->
      <%= render 'books/newBook', book: @books %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user) do %>
                  <%= attachment_image_tag @user, :profile_image, :fill, 40, 40,fallback: "no_image.jpg", size:"40x40" %><br><%= @user.name %>
              <% end %>
            </td>
            <td><%=link_to @book.title, book_path(@book) %></td>
            <td><%= @book.body %></td>
            <% if @user.id == current_user.id %>
              <td><%= link_to "Edit" , edit_book_path, class: "btn btn-sm btn-success edit_book" %></td>
              <td><%= link_to "Destroy", book_path(@book), method: :delete, class:"btn btn-sm btn-danger destroy_book","data-confirm" => "本当に消しますか？" %></td>
            <%end%>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
